$dark-grey: #787676;
$light-grey: #CAC9C9;
$light-black: #292526;
$dark-black: #121111;
$light-blue: rgb(215, 255, 242);

$smallMobile-breakpoint: '340px';
$mobile-breakpoint: '480px';
$tablet-breakpoint: '900px';